<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask example apps</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    .container {
      width: auto;
      max-width: 680px;
      padding: 0 15px;
    }
  </style>

</head>
<body>

  <main class="flex-shrink-0">
    <div class="container">
      {% if hostname %}
        <h1 class="mt-5">Hello from {{ hostname }}!</h1>
      {% else %}
        <h1 class="mt-5">Hello, World!</h1>
      {% endif %}
      
      <p class="lead">This is nest academy nginx workshop demo app: <strong>{{ appname }}</strong></p>
    </div>
  </main>


</body>
</html>